.admin {
    display: grid;
    grid-template-columns: 1fr min(100%, 400px) 1fr;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.admin > * {
    grid-column: 2;
}

.beatlist-sorter {
    overflow-y: hidden;
    transition: height 1.4s cubic-bezier(0.52, -0.03, 0.48, 1.05), opacity 1.4s cubic-bezier(0.52, -0.03, 0.48, 1.05), padding-block 1.4s cubic-bezier(0.52, -0.03, 0.48, 1.05);
    padding-block: 40px;
    height: 183px;

    h2 {
        padding-inline: 20px;
        padding-bottom: 10px;
        font-size: clamp(20px, 5vw, 35px);
        
    }
    .by {
        margin-left: 22px;
        text-transform: capitalize;
        font-weight: 600;

        span {
            padding-right: 3px;
        }
    }
    .sorter-buttons {
        padding-inline: 23px;
        margin-top: 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 12px;
        gap: 25px;
    }
    .sorter-buttons p,
    .sorter-buttons select,
    .sorter-buttons option {
        font-weight: 600;
        text-transform: capitalize;
        padding: 3px;
        border-bottom: 1px solid transparent;
        transition: border-bottom .3s ease-in-out;
    }
    .sorter-buttons select {
        background-color: transparent;
        border: none;
        outline: none;
    }
    .sorter-buttons option {
        background-color: rgba(var(--clr-60));
        border: none;
        outline: none;
    }
    .sorter-buttons .current-sorter {
        border-bottom: 2px solid rgba(var(--clr-primary), .6);
        transition: border-bottom .6s ease-in-out;
    }
}
.tabs {
    display: flex;
    width: fit-content;
    overflow-x: hidden;
}

.tabs > * {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    padding-inline: 24px;
}

.hide-tab {
    width: 0;
    opacity: 0;
    padding: 0;
    animation: hide-tab .5s ease;
}

.tabs .t3 {
    .beat-input-div {
        display: flex;
        flex-direction: column;

        .beat-input .text-input {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            border: none;
            outline: none;
            background-color: rgba(var(--clr-60));
            position: unset;
            opacity: unset;
            padding-inline: 6px;
            color: rgba(var(--clr-primary))
        }
        .beat-input {
            display: flex;
            position: relative;
            height: 45px;
            padding: 2px;
            background: linear-gradient(to right, rgba(var(--clr-primary)) 33.3%, rgba(var(--clr-60)) 60%);
            border-radius: 5px;
            z-index: 15;
            box-shadow: rgb(0 0 0 / 20%) 4px 2px 6px 0px;
            transition: transform .8s ease-in-out, opacity .8s;
        }
        .beat-input-div label {
            padding: 4px 2px;
        }
        .beat-input input {
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
        }
        .beat-input .clip {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: rgba(var(--clr-60));
        }
        .beat-input .clip .label {
            margin-inline: 12px;
            padding: 4px;
            border: 2px rgb(69 69 69 / 50%) solid;
            border-radius: 4px;
        }
    }
}

@keyframes hide-tab {
    0% {
        transform: 0;
        opacity: .5;
        width: 100vw;
    }
    50% {
        transform: translateX(-100vw);
        width: 100vw;
    }
    100% {
        opacity: 0;
        width: 0;
    }
}

.show-tab {
    width: 100vw;
    opacity: 1;
    animation: show-tab .6s ease-in-out;
}

@keyframes show-tab {
    0% {
        transform: translateX(-100);
        opacity: 0;
        width: 100vw;
    }
    50% {
        opacity: .8;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.make-packages {
    margin-top: 40px;
    padding-bottom: 0;
}

.hide-up-hide {
    height: 0 !important;
    opacity: 0 !important;
    margin: 0 !important;
    padding: 0 !important;;
    transition: all .5s ease-in-out .5s, opacity .2s ease-in-out !important;
}

.hide-up-anim {
    transition: all .2s ease-in-out, opacity .6s ease-in-out .4s !important;
}

.radios {
    display: flex;
    padding-bottom: 2px;
    gap: 5px;
    align-items: center;

    .r {
        display: flex;
        align-items: center;
        gap: 2px;
    }
}

.clip {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgba(var(--clr-60));
    position: unset;
    opacity: unset;
    color: rgba(var(--clr-primary))
}
.gradient-border {
    display: flex;
    position: relative;
    height: 45px;
    padding: 2px;
    background: linear-gradient(to right, rgba(var(--clr-primary)) 33.3%, rgba(var(--clr-60)) 60%);
    border-radius: 5px;
    z-index: 15;
    box-shadow: rgb(0 0 0 / 20%) 4px 2px 6px 0px;
    transition: transform .8s ease-in-out, opacity .8s;
}


.potential-tags {
    display: flex;
    height: fit-content;
    margin-block: 40px 20px;
    margin-inline: 20px;
    padding: 2px;
    background: linear-gradient(to right, rgba(var(--clr-primary)) 33.3%, rgba(var(--clr-60)) 60%);
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 20%) 4px 2px 6px 0px;
    transition: transform .8s ease-in-out, opacity .8s;

    .potential-tags-clip {
        display: flex;
        flex-flow: row wrap;
        padding: 20px;
        gap: 10px;
        width: 100%;
        height: 100%;
        background-color: rgba(var(--clr-60));
    }
    
    .potential-tag {
     width: fit-content;
     height: fit-content;
     border: 1px solid;
     border-radius: 4px;
     padding: 8px 18px 8px 8px;
     position: relative;
     transition: background-color .3s ease;
    }
   
   .unselected::after,
   .selected::after {
     right: 6px;
     top: 6px;
     position: absolute;
     content: '';
     height: 6px;
     width: 6px;
     border-radius: 4px;
     border: 1px solid;
   }
   
   .selected::after {
     background-color: rgba(var(--clr-primary));
   }
}