@font-face {
    font-family: SUSE;
    src: url('../asset/font/SUSE.ttf');
}
.beat-hide {
    pointer-events: none !important;
    opacity: 0 !important;
    transition: opacity .1s cubic-bezier(0.52, -0.03, 0.48, 1.05), margin-top 1.4s cubic-bezier(0.52, -0.03, 0.48, 1.05), margin-inline 1.8s 2s cubic-bezier(0.52, -0.03, 0.48, 1.05) !important;
}


.beat {
    opacity: 1;
    grid-template-columns: 60px 1fr 30px 30px;
    display: grid;
    height: 50px;
    margin-inline: 25px;
    max-width: 350px;
    background-color: rgba(var(--clr-60-2));
    border-radius: 6px;
    gap: 6px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    transition: opacity .6s 1.4s cubic-bezier(0.52, -0.03, 0.48, 1.05), margin-top 1.4s cubic-bezier(0.52, -0.03, 0.48, 1.05), margin-inline 1s 1.4s cubic-bezier(0.52, -0.03, 0.48, 1.05);
    box-shadow: rgb(0 0 0 / 20%) 4px 2px 5px 0px;

    .bg {
        position: absolute;
        height: 200%;
        right: 12%;
        opacity: .5;
        transition: opacity .8s ease-in-out;
        z-index: 5;
    }

    .isplaying-n-playicon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        position: relative;
        transition: left 1.4s cubic-bezier(0.52, -0.03, 0.48, 1.05);
    }

    .isplaying-anim {
        display: flex;
        justify-content: space-evenly;
        align-items: end;
        height: 24px;
        width: 24px;
        overflow: hidden;
        border-radius: 50%;
        z-index: 0;
        
        .one, .two, .three {
            height: 100%;
            width: 2px;
            background-color: rgba(var(--clr-60));
            border-radius: 4px 4px 0 0;
        }
        .one {
          animation: play-anim 1s ease infinite; 
        }
        .two {
          animation: play-anim 1s ease .2s infinite; 
        }
        .three {
          animation: play-anim 1s ease .3s infinite; 
        }
    }

    /* .isplaying-hide {
        .one, .two, .three {
            height: 0;
            width: 0;
            background-color: rgba(var(--clr-primary));
            border-radius: 4px 4px 0 0;
            animation: none;
            transition: height .3s ease, width .3s .5s;
        }
    } */
    

    .price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 46px;
        margin: 2px;
        border-radius: 6px;
        gap: 2px;
        box-shadow: rgb(0 0 0 / 20%) 0px 0px 10px 1px;
    }
    .price-mask {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        border-radius: 6px;
        padding: 6px 4px;
        justify-content: center;
        color: rgba(var(--clr-accent));
    }
    .title-bpm {
        display: flex;
        flex-direction: column;
        text-transform: capitalize;
        padding-block: 6px;
        height: 100%;
        width: 100%;
        gap: 4px;
        position: relative;
        z-index: 1;
        text-transform: lowercase;
        overflow: hidden;

        h4 {
            font-size: 12.36px;
            width: 100%;
            text-wrap: nowrap;
            overflow: hidden;
            text-transform: inherit;
            font-weight: 500;
            opacity: 1;
            text-overflow: ellipsis;
        }

        p {
            width: 100%;
            font-size: 12px;
            text-transform: inherit;
        }
    }

    .buy {
        position: relative;
        padding-right: 10px;
    }
    .play {
        height: 24px;
        width: 24px;
        opacity: 1;
        transition: opacity .3s .6s, 
    }
    .play-hide {
        height: 0;
        width: 0;
        opacity: 0;
        transition: opacity .3s, height 0s .6s, width 0s .6s;
    }
}

.beathide {
    opacity: 0 !important;
    pointer-events: none;
}
.beathide-anim {
    transition: opacity .6s cubic-bezier(0.52, -0.03, 0.48, 1.05), margin-top 1.4s cubic-bezier(0.52, -0.03, 0.48, 1.05), margin-inline 1s 1.4s cubic-bezier(0.52, -0.03, 0.48, 1.05) !important;
}

.beat:hover {
    /* background-color: rgba(var(--clr-primary)); */
    /* backdrop-filter: grayscale(1); */
    /* filter: contrast(.4); */
}
.back-div-wrap {
    display: flex;
    align-items: center;
    height: 30px;
}

.buying {
    margin-top: 50px;
}

.buying-view {
    opacity: 1;
    background-color: rgba(var(--clr-primary));
    padding-block: 20px;
    max-width: 600px;
    padding-block: 30px;
    padding-inline: 15px;
    border-radius: 6px;
    margin-inline: 25px;
    transition: opacity .3s ease-out;

    p {
        opacity: .5;
    }
}
.buying-view-hide {
    opacity: 0;
    overflow: hidden;
    height: 0;
    transition: opacity .5s 1.6s ease-out;
}

.payment-summary {
    .summary {
        margin-top: 25px;
        margin-inline: 25px;
        margin-bottom: 30px;
    }

    .summary > * {
        display: flex;
        gap: 6px;
    }
}

.beat-option {
    display: flex;
    width: 180px;
    transform: translateY(0);
    border-radius: 6px;
    gap: 6px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    transition: opacity .4s ease-out, transform .1s ease-out;
    background-color: rgba(var(--clr-60-2));
    box-shadow: rgb(0 0 0 / 20%) 2px 2px 6px 1px;
    flex-direction: column;

    p {
        opacity: 1;
    }
}
.beat-option-hide {
    opacity: 0;
}

.beat-option .option-seletor {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: left;
    padding: 10px;
    gap: 10px;
    color: rgba(var(--clr-accent));

    .checkbox {
        height: 15px;
        width: 15px;
        border: 1px solid rgba(var(--clr-primary), .7);
        border-radius: 50%;
    }

    .checkbox-checked {
        background-position: center;
        background-image: url('../asset/img/icon/checklist-true.svg');
    }
}

.beat-option .title-body {
    display: flex;
    flex-direction: column;
    width: 100%;

    h4 {
        text-transform: capitalize;
        padding: 15px;
        color: rgba(var(--clr-accent));
    }

    p {
        font-size: 12px;
    }

    .body {
        display: flex;
        flex-direction: column;
        padding: 10px 15px 15px 15px;
        gap: 6px;
        color: rgba(var(--clr-60));
    }
    .title {
        display: flex;
        box-shadow: rgba(240, 248, 255, 0.2) 0px 2px 20px 20px;
        align-items: center;
        justify-content: space-between;
    }

    .title .icon {
        margin: 9px;
        width: 25px;
        height: 25px;
    }
}

.title-body .property-wrap {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

    .value {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .bolean-string {
        display: flex;
        gap: 6px;
        align-items: center;
        justify-content: space-between
    }
}


.beat-options-scroll {
    display: flex;
    width: fit-content;
    gap: 30px;
    padding-inline: 25px;
    padding-block: 20px;
    overflow-y: hidden;
}

.beat-options {
    opacity: 1;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    overflow-x: scroll;
}
.beat-options::-webkit-scrollbar {
    height: 8px;
}
.beat-options::-webkit-scrollbar-thumb {
    background-color: rgba(var(--clr-60-2));
    border-radius: 20px;
}

.checkout-due-info-hide {
    opacity: 0 !important;
    transform: translateY(50%) !important;
    pointer-events: none !important;
}

.checkout-due-info {
    opacity: 1;
    display: flex;
    width: fit-content;
    transform: translateY(0);
    /* border: 1px solid rgba(var(--clr-font-p), .5); */
    border-radius: 6px;
    overflow: hidden;
    transition: opacity .3s, transform .4s ease-out ;
    box-shadow: rgb(0 0 0 / 20%) 2px 2px 6px 1px;
    margin-left: 25px;
    padding-inline: 6px 16px;
    padding-block: 3px;

    .info {
        display: flex;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h4 {
            text-wrap: nowrap;
            text-align: center;
        }
    }


    .checkout-button-mask {
        display: flex;
        height: 100%;
        width: 100%;
        gap: 5px;
        border-radius: 6px;
        /* background: linear-gradient(to right, rgba(var(--clr-primary)) 0%, rgba(var(--clr-60)) 40%); */
        align-items: center;

        p {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            /* background-color: rgba(var(--clr-60));;
            color: ivory; */
            padding: 6.5px;
            border-radius: 6px;
            font-weight: 600;
            color: inherit;
        }
    }
}

@keyframes play-anim {
    0% {
      height: 0;
    }
    50% {
      height: 100%;
    }
    100% {
      height: 0;
    }
}