@font-face {
    font-family: font;
    src: url('../asset/font/SUSE.ttf');
}

:root {
    --clr-60: 255, 255, 255;
    --clr-60-2: 72, 125, 127;
    --clr-font-h: 20, 20, 20;
    --clr-font-p: 40, 40, 40;
    --clr-primary: 0, 65, 71;
    --clr-primary-2: 96, 100, 102;
    --clr-header-background: 47, 76, 77;
    --clr-accent: 255, 215, 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: rgba(var(--clr-primary));
    background-color: rgba(var(--clr-60));
    font-family: font;
    user-select: auto;
}

.homepage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-sidenav {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    z-index: 5;
    gap: 6px;
}
.sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0;
    padding-bottom: 0;
    padding-inline: 0;
    opacity: 0;
    gap: 10px;
    height: 0;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: 
    width .8s cubic-bezier(0.52, -0.03, 0.48, 1.05), 
    padding-bottom .8s cubic-bezier(0.52, -0.03, 0.48, 1.05) .7s,
    padding-inline .8s cubic-bezier(0.52, -0.03, 0.48, 1.05),  
    height 1.2s cubic-bezier(0.52, -0.03, 0.48, 1.05) .6s, 
    opacity .6s cubic-bezier(0.52, -0.03, 0.48, 1.05);

    .cart-nav input {
        width: 100%;
        border: 1px solid;
        background-color: transparent;
        color: inherit;
        border-radius: 3px;
    }
}


.sidenav-open {
    width: 110px;
    padding-bottom: 15px;
    padding-inline: 6px;
    height: 200px;
    opacity: 1;
    transition: 
    width .8s cubic-bezier(0.52, -0.03, 0.48, 1.05), 
    padding-bottom .8s cubic-bezier(0.52, -0.03, 0.48, 1.05) .3s,
    padding-inline .8s cubic-bezier(0.52, -0.03, 0.48, 1.05), 
    height 1.6s cubic-bezier(0.52, -0.03, 0.48, 1.05), 
    opacity .7s cubic-bezier(0.52, -0.03, 0.48, 1.05) .6s !important;
}

.sidenav > * {
    width: 0;
    padding: 0;
    opacity: 0;
    border-radius: 6px;
    text-wrap-mode: nowrap;
    transition: opacity .6s, width .6s ease-in, padding .6s ease-in .6s;
}

.sidenav > :first-child {
    box-shadow: rgb(0 0 0 / 20%) 4px 2px 10px 2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    img {
        margin-top: 15px;
    }
}

.sidenav-open > * {
    width: 100% !important;
    padding: 10px !important;
    opacity: 1 !important;
    transition: opacity .6s .3s, width .6s, padding .6s .3s !important;
}

.sidenav .sidenav-item {
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 20px 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    z-index: 1;
    background-color: rgba(var(--clr-primary));
    color: rgba(var(--clr-60));
}

header .background-img {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: rotate(90deg);
    filter: blur(2px);
    width: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-inline: clamp(25px, 8vw, 60px);
    padding-top: 10px;

    .menu {
        opacity: 1;
        width: 25px;
        height: 25px;
    }
}

nav ul {
    display: none;
    list-style: none;
    gap: 20px;
}

nav .logo {
    font-weight: 900;
    font-size: 12px;
    /* margin-left: -20px; */
}

p,
label,
.sorter-buttons select,
.sorter-buttons option {
    font-size: 12.36px;
}
h4 {
    font-size: 15px;
    text-transform: capitalize;
}
h6 {
    font-size: 12.36px;
}

::-webkit-scrollbar {
    background-color: transparent;
    height: 8px;
    width: 8px;
}
  
::-webkit-scrollbar-thumb {
    background-color: rgba(var(--clr-primary), .6);
    border-radius: 20px;
}

.beatlist-main {
    display: grid;
    grid-template-columns: 1fr min(100%, 400px) 1fr;
    position: relative;
    background-color: rgba(var(--clr-60));
    width: 100%;
}

.beatlist-main > * {
    grid-column: 2;
}

.hide {
    opacity: 0 !important;
    pointer-events: none;
    transition: opacity .6s cubic-bezier(0.52, -0.03, 0.48, 1.05);
}
.hide-anim {
    transition: opacity .6s .3s cubic-bezier(0.52, -0.03, 0.48, 1.05);
}
.hide-anim-height-trans {
    opacity: 1;
    transition: height .8s cubic-bezier(0.52, -0.03, 0.48, 1.05), 
    padding-block .8s cubic-bezier(0.52, -0.03, 0.48, 1.05) .7s,
    margin-block .8s cubic-bezier(0.52, -0.03, 0.48, 1.05),
    opacity .4s cubic-bezier(0.52, -0.03, 0.48, 1.05);
}
.hide-anim-height {
    opacity: 1;
    transition: opacity .6s ease-in-out;
}
.hide-height {
    opacity: 0 !important;
    height: 0 !important;
    pointer-events: none !important;
    margin-block: 0 !important;
    padding-block: 0 !important;
    transition: height .8s cubic-bezier(0.52, -0.03, 0.48, 1.05), 
    padding-block .8s cubic-bezier(0.52, -0.03, 0.48, 1.05) .7s,
    margin-block .8s cubic-bezier(0.52, -0.03, 0.48, 1.05),
    opacity .4s cubic-bezier(0.52, -0.03, 0.48, 1.05);
}

.hide-width {
    opacity: 0 !important;
    width: 0 !important;
    pointer-events: none;
    transition: width .8s .4s cubic-bezier(0.52, -0.03, 0.48, 1.05), 
    padding-block .8s .4s cubic-bezier(0.52, -0.03, 0.48, 1.05) .7s,
    margin-block .8s .4s cubic-bezier(0.52, -0.03, 0.48, 1.05),
    opacity .4s .4s cubic-bezier(0.52, -0.03, 0.48, 1.05);
}

.hide-width-anim {
    transition: width .8s cubic-bezier(0.52, -0.03, 0.48, 1.05), 
    padding-block .8s cubic-bezier(0.52, -0.03, 0.48, 1.05) .7s,
    margin-block .8s cubic-bezier(0.52, -0.03, 0.48, 1.05),
    opacity .4s .8s cubic-bezier(0.52, -0.03, 0.48, 1.05);
}


.hide-up {
    opacity: 0 !important;
    transform: translateY(-50%);
    pointer-events: none;
    transition: opacity .4s ease-in-out, transform .8s ease-in-out;
}
.hide-up-anim {
    transform: translateY(0);
    transition: opacity .4s ease-in-out, transform .8s ease-in-out;
}

.icon {
    height: 15px;
    aspect-ratio: 1;
}

.icon-big {
    height: 25px;
    aspect-ratio: 1;
}

.beatlist-sorter {
    display: flex;
    overflow-y: hidden;
    transition: height 1.4s cubic-bezier(0.52, -0.03, 0.48, 1.05), opacity 1.4s cubic-bezier(0.52, -0.03, 0.48, 1.05), padding-block 1.4s cubic-bezier(0.52, -0.03, 0.48, 1.05);
    justify-content: space-between;
    max-width: 600px;

    h2 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        text-transform: uppercase;
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: 90px;
    }
    .sorter {
        display: flex;
        flex-direction: column;
        box-shadow: rgb(0 0 0 / 10%) 0px 5px 9px;
        padding: 10px;
        border-radius: 10px;
        height: fit-content;
        background-color: rgba(var(--clr-60-2))
    }
    .sorter .by {
        text-transform: capitalize;
        font-weight: 600;
        color: rgba(var(--clr-60));
        text-wrap: nowrap;

        span {
            padding-right: 3px;
        }
    }
    .sorter .sorter-buttons {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        gap: 3px;
    }
    .sorter .sorter-buttons p,
    .sorter .sorter-buttons select,
    .sorter .sorter-buttons option {
        color: rgba(var(--clr-accent), 1);
        text-transform: capitalize;
        padding: 3px;
        border-bottom: 1px solid transparent;
        transition: border-bottom .3s ease-in-out;
        width: fit-content;
    }
    .sorter .sorter-buttons > * {
        width: 46px !important;
    }
    .sorter .sorter-buttons select {
        background-color: transparent;
        border: none;
        outline: none;
    }
    .sorter .sorter-buttons option {
        background-color: rgba(var(--clr-60));
        border: none;
        outline: none;
    }
    .sorter .sorter-buttons .current-sorter {
        border-bottom: 1px solid rgba(var(--clr-accent), .5);
        transition: border-bottom .6s ease-in-out;
    }
}

.beatlist-sorter-sidenav {
    height: 100vh !important;
}

.beatlist-sorter-hide {
    height: 0 !important;
    opacity: 0 !important;
    padding-block: 0 !important;
    pointer-events: none !important;
}

.beatlist {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 248px;
    transition: min-height 1.4s cubic-bezier(0.52, -0.03, 0.48, 1.05);
}

.beatlist-hide {
    min-height: 0;
}

.beatlist-main .pages-indicator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-block: 20px;
    padding-inline: 10px;

    p {
        font-size: 12px;
    }

    ul {
        display: flex;
        list-style-type: none;
    }

    ul li {
        font-size: 12px;
    }

    .back-btn {
        display: flex;
        align-items: center;
        padding: 4px;
        gap: 1px;
    }
}

.info-text {
    margin-top: 30px;
    padding-inline: 25px;
    margin-bottom: 15px;

    p {
        max-width: clamp(200px, 70vw, 350px);
    }
}



.beatlist-main .page-indicator-bottom {
    display: flex;
    gap: 3px;
    justify-content: center;
    width: 100%;
    height: 23px;
    margin-block: 20px;
    transition: height .8s cubic-bezier(0.52, -0.03, 0.48, 1.05), 
    padding-block .8s cubic-bezier(0.52, -0.03, 0.48, 1.05) .7s,
    padding-inline .8s cubic-bezier(0.52, -0.03, 0.48, 1.05),
    opacity .8s .8s cubic-bezier(0.52, -0.03, 0.48, 1.05);

    span {
        height: 6px;
        width: 6px;
        border-radius: 50%;
        border: 1px solid rgba(var(--clr-primary));
        background-color: transparent;
        filter: contrast(0.3);
        margin-top: 10px;
    }
    .circle-current {
        background-color: rgba(var(--clr-primary));
    }

}

.beatlist-main .pause-next {
    display: flex;
    position: fixed;
    right: 20px;
    bottom: 15vh;
    height: 45px;
    flex-direction: row;
    padding: 2px;
    background-color: rgba(var(--clr-primary));
    border-radius: 6px;
    z-index: 15;
    box-shadow: rgb(0 0 0 / 20%) 4px 2px 6px 0px;
    transition: transform .8s ease-in-out, opacity .8s;

    .pause-next-controls {
        display: flex;
    
        img {
            width: 30px;
            filter: contrast(0.5);
            transition: opacity .3s;
        }
    }

    .player-hide-show {
        display: flex;
        position: relative;
        height: 100%;
        align-items: start;
        padding: 5px;
        background-color: #487d7f;
        border-radius: 2px;
    }

    .player-hide-show img {
        width: 10px;
    }
}

.beatlist-main .pause-next-hide {
    transform: translateX(30vw);
    opacity: 0;

    img {
        opacity: 0;
    }
}

.pause-next-minimal {
    transform: translateX(calc(100%));
}


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-inline: clamp(25px, 8vw, 60px);
    padding-block: 25px;
}

.beat-input-div {
    display: flex;
    flex-direction: column;

    .beat-input .text-input {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        border: none;
        outline: none;
        background-color: rgba(var(--clr-60));
        position: unset;
        opacity: unset;
        padding-inline: 6px;
        color: rgba(var(--clr-primary))
    }
    .beat-input {
        display: flex;
        position: relative;
        height: 45px;
        padding: 2px;
        background: linear-gradient(to right, rgba(var(--clr-primary)) 33.3%, rgba(var(--clr-60)) 60%);
        border-radius: 6px;
        z-index: 15;
        box-shadow: rgb(0 0 0 / 20%) 4px 2px 6px 0px;
        transition: transform .8s ease-in-out, opacity .8s;
    }
    .beat-input-div label {
        padding: 4px 2px;
    }
    .beat-input input {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .beat-input .clip {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgba(var(--clr-60));
    }
    .beat-input .clip .label {
        margin-inline: 12px;
        padding: 4px;
        border: 2px rgb(69 69 69 / 50%) solid;
        border-radius: 4px;
    }
}

